#toggle{
    height: 25px;
    width: 20;
    border-radius: blue;
    background-color: azure;
    color: black;

}
.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}